gunicorn==20.0.4       # 必ず必要なので記載する
requests==2.26.0
numpy==1.23.5
Flask==2.3.2
Flask-WTF==1.1.1
WTForms==3.0.1
Werkzeug==2.3.7
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
transformers[sentencepiece]==4.31.0
accelerate==0.20.3